body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
}
.orange {
    color: orange;
}
.flexcon {
    display: flex;
    margin-bottom: 150px;
}
.hw {
    width: 50%;
    padding-left: 5%;
}
.hw img {
    width: 80%;
}
.linkButton {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
.topBanner {
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.dreamBig {
    background-image: url('./images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
}
.experienceArea {
    background-image: url('images/exp-bg.png');
    background-repeat: no-repeat;
    background-position: left;
}
.experienceItem {
    box-shadow: 10px 10px 20px gray;
    width: 40%;
    margin: 0% 5%;
    padding-left: 20px;
    border-radius: 5px;
}
#ele1 {
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}
#ele2 {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer p {
    text-align: center;
}